<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Angular Data Model</title>
</head>
<body ng-controller="MainController as ctrl">

  <div ng-repeat="author in ctrl.list">
    <a href="#0" ng-click="ctrl.selectQuote(author)">
      {{author.name}}
    </a>
  </div>

  <p>{{ctrl.quote}}</p>

  <h1>Inputs</h1>
  <input type="text" ng-model="ctrl.model">


  <script src="./vendor/angular.min.js"></script>
  <script src="./module.js"></script>
  <script src="./mainController.js"></script>
  <script src="./modelService.js"></script>
</body>
</html>