<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Model Angular</title>
    <link rel="stylesheet" href="/src/styles.css">
</head>
<body ng-controller="MainController as ctrl">

    <p>Id: {{ctrl.book.id}}</p>
    <p>Name: {{ctrl.book.name}}</p>
    <p>Author: {{ctrl.book.author}}</p>
    <p>Is Available: {{ ctrl.isAvailable() ? 'Yes' : 'No' }}</p>


    <button ng-click="ctrl.book.deleteBook()">Delete</button>
    <button ng-click="ctrl.book.updateBook()">Update</button>


    <hr>
    <pre style="font-size: 14px">
        {{ctrl.book | json}}
    </pre>

    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="src/module.js"></script>
    <script type="text/javascript" src="src/controllers.js"></script>
    <script type="text/javascript" src="src/directives.js"></script>
    <script type="text/javascript" src="src/services.js"></script>
</body>
</html>